/*.App {
    text-align: center;
    color: rgba(218, 220, 230, 0.945);
    border-style: 40px;
    border-radius: 16px;
    padding: 5px;
    margin: 120px;
    background: linear-gradient( 103.3deg, rgb(190, 11, 215) -18.7%, rgb(246, 234, 11) 90.9%);
    width: 400px;
    height: 900px;
    display: block;
}
.App-header {
    /*min-height: 900px;*/


/*display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);


.App-link {
    color: #61dafb;
}
.container {
    width: 300px;
    margin: auto;
    display: block;
    height: 700px;
}*/

.App {
    margin: 30px auto;
    max-width: 700px;
    background: linear-gradient( 103.3deg, rgb(190, 11, 215) -18.7%, rgb(246, 234, 11) 90.9%);
}

.App a {
    text-decoration: none;
}

.App a:hover {
    text-decoration: underline;
    cursor: pointer;
}