    .App {
        max-width: 700px;
        margin: 50px auto;
        background: linear-gradient(to top, #feada6 0%, #f5efef 100%);
        border-radius: 25px;
        height: 100%;
    }
    
    .app-container {
        width: 100%;
        margin: auto;
        display: block;
    }
    
    .App a {
        text-decoration: none;
    }
    
    .App a:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    
    .App h1 {
        text-align: center;
        font-size: 30px;
        margin-top: 10px;
        color: #F43E65;
    }
    
    .App footer {
        text-align: center;
    }
    
    .animation-container {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(3, 1fr);
    }