.App {
    max-width: 600px;
    margin: 50px auto;
    background: linear-gradient(90.4deg, rgb(244, 199, 62) -3.8%, rgb(244, 62, 62) 46.8%, rgb(245, 61, 195) 98.8%);
    ;
    border-radius: 25px;
}

.app-container {
    width: 100%;
    margin: auto;
    display: block;
}

.App a {
    text-decoration: none;
}

.App a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.App h1 {
    text-align: center;
}

.App footer {
    text-align: center;
}