.WeatherForecast {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.WeatherForecast-temperature-min {
    opacity: 0.6;
    margin-right: 5px;
}

.forecast canvas {
    margin-left: 10px;
    float: none !important;
}